<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div class="button-container">
      <a href="/employee" class="square-btn">Employee</a>
      <a href="/manager" class="square-btn">Team Manager</a>
      <a href="/admin" class="square-btn">Admin</a>
    </div>
  </body>
</html>
